@model ShopViewModel
@{
    ViewData["Title"] = "门店管理";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <a asp-action="Create" class="btn btn-success">新增门店</a>
</p>
<div class="card">
    <div class="content">
        <form asp-action="Index" class="form-inline" method="get">
            <div class="form-group">
                <label class="control-label">店铺名称：</label>
                <input class="form-control" asp-for="ShopName">
            </div>

            <div class="form-group">
                <label class="control-label">订单状态：</label>
                <select class="form-control" asp-for="RegionId">
                    <option value="">请选择</option>
                    @foreach (var item in Model.Regions)
                    {
                        <option value="@item.Id">@item.Name</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <button class="btn btn-info" type="submit"><i class="fa fa-search"></i>查询</button>
            </div>
        </form>
    </div>
</div>

<div class="card">
    <div class="content">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        店铺名称
                    </th>
                    <th>
                        区域
                    </th>
                    <th>
                        联系人
                    </th>
                    <th>
                        联系电话
                    </th>
                    <th>
                        地址
                    </th>
                    <th>
                        添加时间
                    </th>
                    <th>状态</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Shops)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @item.Region.Name
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Linkman)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Phone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Address)
                        </td>
                        <td>
                            @item.AddDate.ToString("yyyy-MM-dd")
                        </td>
                        <td>
                            @if (item.Status == Cyc.Order.Data.AccountState.Certified)
                            {
                                <span class="text-success">已认证</span>
                            }
                            else
                            {
                                <span class="text-muted">未认证</span>
                            }
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">修改</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">详情</a> |
                            <a class="delete" data-id="@item.Id" href="javascript:;">删除</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="text-center">
            <ul class="pagination">
                <pager generation-mode="ListOnly" source="Model.Shops" />
            </ul>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {

            $(".delete").on("click", function () {
                var id = $(this).data("id");
                swal({
                    title: '确定删除吗？',
                    text: "删除店铺后将无法恢复！",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: '确定删除',
                    cancelButtonText: '取消'
                }).then(function () {
                    $.post("/shops/delete", { id: id }, function (data) {
                        swal('删除!', data.message, 'success').then(function () {
                            location.reload();
                        });
                    });
                }).catch(swal.noop);
            });
        })
    </script>
}